.is-borderless {
  border: none;
}

.is-margin-x-auto{
  margin-left: auto;
  margin-right: auto;
}
.is-margin-y-auto{
  margin-top: auto;
  margin-top: auto;
}

@media only screen and (max-width: $mobile) {
  .pokemon-stats {
    overflow-x: scroll;
  }
}

// html{
//     background-image: url(http://static.minitokyo.net/downloads/18/11/743068.jpg);
// }
